.artist-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.artist-div button{
    background-color: #8E4922;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.artist-div button:hover{
    background-color: #FFCDB8;
    color: #8E4922;
}
.artist-div a{
    color: white;
}