#logo {
  width: 20vh;
  height: 20vh;
  margin-left: 10px;
}
.nav {
  background-color: rgb(254, 254, 254);
  margin-bottom: 2rem;
  box-shadow: none;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgb(255, 255, 255);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
.logo-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 20%;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav-links a {
  color: #000;
}
.signup {
  width: 20%;
}
.signup img {
  height: 7vh;
  width: 7vh;
}
